body{

font-family:Arial;

margin:0;

background:#f4f4f4;

}


nav{

background:black;

color:white;

display:flex;

justify-content:space-between;

padding:20px;

}


ul{

display:flex;

gap:20px;

list-style:none;

}


a{

color:white;

text-decoration:none;

}


.hero{

text-align:center;

padding:150px;

background:linear-gradient(black,gray);

color:white;

}


.page{

padding:50px;

}


.btn{

background:gold;

padding:15px 25px;

color:black;

display:inline-block;

margin-top:20px;

}


form{

display:flex;

flex-direction:column;

width:300px;

}


input,textarea{

margin:10px 0;

padding:10px;

}
