body{

font-family:Arial;

margin:0;

background:#f4f4f4;

}


nav{

background:black;

color:white;

display:flex;

justify-content:space-between;

padding:10px;

}


ul{

display:flex;

gap:20px;

list-style:none;

}


a{

color:white;

text-decoration:none;

}


.hero{

text-align:center;

padding:150px;

background:linear-gradient(black,gray);

color:white;

}


.page{

padding:50px;

}


.btn{

background:gold;

padding:15px 25px;

color:black;

display:inline-block;

margin-top:20px;

}


form{

display:flex;

flex-direction:column;

width:300px;

}


input,textarea{

margin:10px 0;

padding:10px;

}
.logo{

display:flex;
align-items:center;
gap:100px;

}

.logo img{

height:250px;

}

nav{
background:black;
color:white;
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 20px;
}
nav{
background:#000;
display:flex;
align-items:center;
justify-content:space-between;
padding:15px 20px;
}
/* MOBILE NAV */

@media(max-width:768px){
nav{
flex-direction:column;
align-items:center;
text-align:center;
}
}


/* SMALL MOBILE */

@media(max-width:480px){
h1{
font-size:22px;
}
}


/* ===== CLEAN FOOTER ===== */

footer{
background:#111;
color:white;
padding:60px 30px;
margin-top:100px;
}

.footer-container{
max-width:1200px;
margin:auto;
display:flex;
justify-content:space-between;
align-items:flex-start;
gap:60px;
}

.footer-box{
flex:1;
}

.footer-box h3{
color:gold;
margin-bottom:15px;
}

.footer-box ul{
list-style:none;
padding:0;
}

.footer-box ul li{
margin-bottom:8px;
}

.footer-box a{
color:white;
text-decoration:none;
}

.footer-box a:hover{
color:gold;
}

.footer-bottom{
text-align:center;
margin-top:40px;
padding-top:20px;
border-top:1px solid #333;
color:#aaa;
}

/* MOBILE */

@media(max-width:768px){
.footer-container{
flex-direction:column;
text-align:center;
}
}
.footer-box ul{
list-style:none;
padding:0;
margin:0;
}

.footer-box ul li{
margin-bottom:12px;
}

.footer-box ul li a{
color:white;
text-decoration:none;
font-size:15px;
transition:0.3s;
}

.footer-box ul li a:hover{
color:gold;
padding-left:5px;
}
.footer-container{
max-width:1100px;
margin:auto;
display:flex;
justify-content:space-between;
align-items:flex-start;
gap:40px;
}
