body{

margin:0;
font-family:Arial, sans-serif;
background:#f5f7fa;

}


/* NAVBAR */

nav{

background:black;
color:white;
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;

}


nav h2{

margin:0;

}


nav ul{

list-style:none;
display:flex;
gap:20px;
padding:0;
margin:0;

}


nav ul li a{

color:white;
text-decoration:none;
font-weight:bold;

}


/* PAGE */

.page{

padding:40px 20px;
max-width:1100px;
margin:auto;

}


h1{

margin-bottom:10px;

}



/* BUTTON */

.btn{

display:inline-block;
padding:12px 20px;
background:#0a7cff;
color:white;
text-decoration:none;
border-radius:8px;
margin-top:15px;

}


.btn:hover{

background:#055fd1;

}



/* CARDS */

.card{

background:white;
padding:20px;
border-radius:12px;
box-shadow:0px 5px 15px rgba(0,0,0,0.1);

}



/* MOBILE */

@media(max-width:768px){

nav{

flex-direction:column;
align-items:center;
text-align:center;

}

nav ul{

flex-direction:column;
gap:10px;

}

.page{

padding:20px 15px;

}

h1{

font-size:26px;

}

}


/* SMALL MOBILE */

@media(max-width:480px){

h1{

font-size:22px;

}

.btn{

width:100%;
text-align:center;

}

input,textarea{

width:100%;

}

}
